body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  font-size: 14px;
}

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: #0079bf;
}

.navbar {
  padding-left: 10px;
  display: fex;
  align-items: center;
}

.app {
  font-size: 1.5rem;
  background-color: #0067a3;
}

.board {
  font-size: 1.1rem;
  background-color: #0079bf;
}

.board-columns {
  display: flex;
  margin: 0 10px 10px;
  gap: 10px;
  overflow-x: auto;
}

.board-columns::-webkit-scrollbar {
  -webkit-appearance: none;
}

.board-columns::-webkit-scrollbar:horizontal {
  height: 11px;
}

.board-columns::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .24);
  border-radius: 5px solid #ebecf0;
  background-clip: padding-box;
}

.columns {
  flex: 0 0 auto;
  width: 300px;
  height: calc(100% - 10px);
  /* margin-left: 10px; */
}

.columns * {
  background-color: #ebecf0;
  color: #333;
  padding: 0 8px;
}

header {
  padding-left: 15px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer {
  padding-left: 10px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  max-height: calc(100% - 72px);
  overflow-y: auto;
}

ul::-webkit-scrollbar {
  -webkit-animation: none;
}

ul::-webkit-scrollbar:vertical {
  width: 11px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #a6a7ac;
  border-right: 5px solid #ebecf0;
}

li {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

li:not(:last-child) {
  margin-bottom: 10px;
}

img {
  display: block;
  width: calc(100% + 2*10px);
  margin: -10px 0 10px (-10px);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}